<h1>Public Chat</h1>

<% @articles.each do |article| %>
	<p><%= article.nickname %>:  <%= article.message %></p>
<% end %>

<!-- <table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>
 
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.nickname %></td>
      <td><%= article.message %></td>
    </tr>
  <% end %>
</table> -->

<%= form_for :article, url: articles_path do |f| %>
  <p>
    <%= f.label :nickname %>
    <%= f.text_field :nickname %>
 
    <%= f.label :message %>
    <%= f.text_area :message, :size => "30x1" %>

    <%= f.submit :send %>
  </p>
<% end %>